apiVersion: v1
kind: Secret
metadata:
  name: env-secret
type: Opaque
data:
  POSTGRES_USERNAME: BASE_64
  POSTGRES_PASSWORD: BASE_64
  POSTGRES_DB: BASE_64
  POSTGRES_HOST: BASE_64
  JWT_SECRET: BASE_64